@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,200&display=swap');
body{
}
.bed-image{
    z-index:-1;   
    position:relative;
}
.header-one{
    font-family: "Inter Tight",sans-serif;
    color:rgb(17, 17, 104); 
    

}
.header-two{
    color:rgb(255, 255, 255); 
    font-size: xx-large;
  

}
.main-page-top{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    position:relative;

}
.container img{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;

}
.shop-now-button{
    color:white;
    background-color:darkblue;
    border-radius: 10px;
    width:120px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.flex-container{
    margin-top:100px;
    background-color: cadetblue;
    display:flex;
    gap:50px;
    padding: 50px 100px;
    color:white;
    background-color:rgb(58, 58, 139);
    opacity: 0.6;
    justify-content: center;

}
.flex-container-footer{
    background-color: white;
    display:flex;
    gap:100px;
    color:rgb(58, 58, 139);
    padding:70px 100px;
    justify-content: center;
    
}
.box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.ft-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}